# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=bluecrate
DB_PASS=bluecratepass
DB_NAME=auth_service_db

# Kafka
KAFKA_BROKERS=kafka:9092

# JWT (for auth-service)
JWT_SECRET=change_me

# Admin Seeding
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me
